{% extends "pdm/main.html" %}

{% block title %}Register{% endblock %}

{% block style %}
#register-form {
    display: flex;
    flex-direction: column;
    min-width:20%;
    width: min-content;
    margin: auto;
}
#register-form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}
{% endblock %}

{% block content %}
{% if error %}
<div class="card alert error" role="alert">
    {{ error }}
</div>
{% endif %}
<h2>Register a new account</h2>
<form id="register-form" method="post" action="{% url 'register' %}">
{% csrf_token %}
{% for field in form %}
<div>
    <label for="{{ field.id }}">{{ field.label }}</label>
    <input type="{{ field.type }}" name="{{ field.id }}" id="{{ field.id }}" value="{{ field.value }}" placeholder="{{ field.placeholder }}" required="{{ field.required }}" autofocus="{{ field.autofocus }}" />
</div>
{% endfor %}
{% comment %} <div>
    {{ form.username.label_tag }} {{ form.username }}
</div>
<div>
    {{ form.password.label_tag }} {{ form.password }}
</div>
<div>
    {{ form.password2.label_tag }} {{ form.password2 }}
</div> {% endcomment %}

<div style="justify-content: center">
    <input type="submit" value="Register">
</div>
</form>

<p>Already got an account? <a href="{% url 'login' %}">Just login.</a></p>

{% endblock %}