{% extends "pdm/main.html" %}

{% block title %}Register{% endblock %}

{% block style %}
#register-form {
    display: flex;
    flex-direction: column;
    min-width:20%;
    width: min-content;
    margin: auto;
}
#register-form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="card alert error" role="alert">
    {% for field in form %}
        {% for error in field.errors %}
            <p>{{ error|escape }}</p>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}
<h2>Register a new account</h2>
<form id="register-form" method="post" action="{% url 'register' %}">
{% csrf_token %}
<div>
    {{ form.email.label_tag }} {{ form.email }}
</div>
<div>
    {{ form.password1.label_tag }} {{ form.password1 }}
</div>
<div>
    {{ form.password2.label_tag }} {{ form.password2 }}
</div>
<div>
    {{ form.first_name.label_tag }} {{ form.first_name }}
</div>
<div>
    {{ form.last_name.label_tag }} {{ form.last_name }}
</div>
<div>
    {{ form.birth_date.label_tag }} {{ form.birth_date }}
</div>
<div>
    {{ form.sex.label_tag }} {{ form.sex }}
</div>
<div>
    {{ form.phone.label_tag }} {{ form.phone }}
</div>
<div>
    {{ form.country.label_tag }} {{ form.country }}
</div>
<div>
    {{ form.postal_code.label_tag }} {{ form.postal_code }}
</div>
<div>
    {{ form.city.label_tag }} {{ form.city }}
</div>
<div>
    {{ form.street_name.label_tag }} {{ form.street_name }}
</div>
<div>
    {{ form.street_number.label_tag }} {{ form.street_number }}
</div>

<div style="justify-content: center">
    <input type="submit" value="Register">
</div>
</form>

<p>Already got an account? <a href="{% url 'login' %}">Just login.</a></p>

{% endblock %}