{% extends 'pdm/main.html' %}

{% block title %}Documents{% endblock %}
{% block style %}
#doc-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem;
}
.doc-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem .5rem;
    align-items: center;
    padding: 1rem;
}
{% endblock %}
{% block content %}
<div id="doc-list">
{% for doc in documents %}
<div class="card doc-row">
    <h3 style="margin: 0;">{{ doc.name }}</h3>
    <span style="flex-grow: 1; margin: 0 2rem; text-align: start;">{{ doc.description }}</span>
    {% if doc.sensitive %}
    <span class="badge badge-danger" style="margin-right: 2rem; color: red; font-weight: bold;">Sensitive</span>
    {% endif %}
    <span style="margin-right: 2rem;">{{ doc.uploaded_at }}</span>
    <a href="/download/{{ doc.uid }}"><button>View</button></a>
</div>
{% endfor %}
</div>
{% endblock %}