{% extends "pdm/main.html" %}

{% block title %}Edit personal information{% endblock %}

{% block style %}
#user-info-edit {
    display: flex;
    flex-direction: column;
    min-width:20%;
    width: min-content;
    margin: auto;
}
#user-info-edit div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}
{% endblock %}

{% block content %}
{% if error %}
<div class="card alert error" role="alert">
    {{ error }}
</div>
{% endif %}

<h2>Edit your personal information</h2>
<form id="user-info-edit" method="post" action="{% url 'edit-profile' %}">
{% csrf_token %}
<div>
    {{ form.email.label_tag }} {{ form.email }}
</div>
<div>
    {{ form.phone.label_tag }} {{ form.phone }}
</div>
<div>
    {{ form.country.label_tag }} {{ form.country }}
</div>
<div>
    {{ form.postal_code.label_tag }} {{ form.postal_code }}
</div>
<div>
    {{ form.city.label_tag }} {{ form.city }}
</div>
<div>
    {{ form.street_name.label_tag }} {{ form.street_name }}
</div>
<div>
    {{ form.street_number.label_tag }} {{ form.street_number }}
</div>

<div style="justify-content: center">
    <input type="submit" value="Save changes">
</div>
</form>

<p><a href="{% url 'profile' %}"><button>Back</button></a></p>

{% endblock %}