{% extends "pdm/main.html" %}

{% block title %}Edit personal information{% endblock %}

{% block style %}
#register-form {
    display: flex;
    flex-direction: column;
    min-width:20%;
    width: min-content;
    margin: auto;
}
#register-form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}
{% endblock %}

{% block content %}
{% if error %}
<div class="card alert error" role="alert">
    {{ error }}
</div>
{% endif %}

<h2>Edit personal information of {{ user.first_name }} {{ user.last_name }}</h2>
<form id="register-form" method="post" action="{% url 'profile' %}">
{% csrf_token %}
<div>
    {{ form.email.label_tag }} {{ form.email }}
   {% comment %} {% for error in form.email.errors %}
        <p class="error">{{ error|escape }}</p>
    {% endfor %} {% endcomment %}
</div>
<div>
    {{ form.phone.label_tag }} {{ form.phone }}
    {% comment %} {% for error in form.phone.errors %}
        <p class="error">{{ error|escape }}</p>
    {% endfor %} {% endcomment %}
</div>
<div>
    {{ form.country.label_tag }} {{ form.country }}
    {% comment %} {% for error in form.country.errors %}
        <p class="error">{{ error|escape }}</p>
    {% endfor %} {% endcomment %}
</div>
<div>
    {{ form.postal_code.label_tag }} {{ form.postal_code }}
    {% comment %} {% for error in form.postal_code.errors %}
        <p class="error">{{ error|escape }}</p>
    {% endfor %} {% endcomment %}
</div>
<div>
    {{ form.city.label_tag }} {{ form.city }}
    {% comment %} {% for error in form.city.errors %}
        <p class="error">{{ error|escape }}</p>
    {% endfor %} {% endcomment %}
</div>
<div>
    {{ form.street_name.label_tag }} {{ form.street_name }}
    {% comment %} {% for error in form.street_name.errors %}
        <p class="error">{{ error|escape }}</p>
    {% endfor %} {% endcomment %}
</div>
<div>
    {{ form.street_number.label_tag }} {{ form.street_number }}
    {% comment %} {% for error in form.street_number.errors %}
        <p class="error">{{ error|escape }}</p>
    {% endfor %} {% endcomment %}
</div>

<div style="justify-content: center">
    <input type="submit" value="Save changes">
</div>
</form>

<a href="/profile/"><button>Back</button></a>

{% endblock %}