{% extends 'pdm/main.html' %}

{% block title %}Dashboard{% endblock %}
{% block style %}
.section-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem;
}
.section-item {
    width: auto;
    min-width: 25vw;
    margin: 0.5rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
{% endblock %}
{% block content %}
<h2>My Documents</h2>
<a href="/upload" id="add-doc-btn"><button>Add Document</button></a>
<div class="section-items">
{% if documents|length > 0 %}
    {% for d in documents %}
    <div class="card section-item">
        <h3 class="card-title">{{ d.name }}</h3>
        {% if d.sensitive %}
        <span class="badge badge-danger" style="color: red; font-style: italic;">Sensitive</span>
        {% endif %}
        <p class="card-text">{{ d.description }}</p>
        <a href="/preview/{{ d.uid }}" target="_blank"><button>View</button></a>
    </div>
    {% endfor %}
{% else %}
    <p>You currently have no documents.</p>
{% endif %}
</div>
{% endblock %}