{% extends 'pdm/main.html' %}

{% block title %} Personal information of {{ user.tag_line }} {% endblock %}

{% block style %}
#personal_info {
    display: flex;
    flex-direction: column;
    min-width:20%;
    width: min-content;
    margin: auto;
}
#personal_info div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}
{% endblock %}

{% block content %}
<h2>My Profile</h2>
<span>{{ user.tag_line }} ({% if user.role == 1 %}Patient{% elif user.role == 2 %}Doctor{% elif user.role == 3 %}Verificator{% else %}HACKER{% endif %})</span>
<div id="personal_info">
    <div><span>Date of birth: </span><span>{{ user.birth_date }}</span></div>
    <div><span>Sex: </span><span>{% if user.sex == 'm' %}Male{% elif user.sex == 'f' %}Female{% elif user.sex == 'd' %}Diverse{% else %}Unknown{% endif %}</span></div>
    <div><span>Phone number: </span><span>{{ user.phone }}</span></div>
    <div><span>Address: </span><span>{{ user.street_name }} {{ user.street_number }}</span></div>
    <div><span>Postal code: </span><span>{{ user.postal_code }}</span></div>
    <div><span>City: </span><span>{{ user.city }}</span></div>
    <div><span>Country: </span><span>{{ user.country }}</span></div>
</div>
<p>
    <a href="/profile/edit/"><button>Edit</button></a>
    <a href="/profile/change-password/"><button>Change password</button></a>
    <a href="/profile/delete/"><button>Delete account</button></a>
</p>
{% endblock %}