{% extends 'pdm/main.html' %}

{% block title %}Access Requests{% endblock %}
{% block style %}
#request-form {
    display: flex;
    flex-direction: column;
    min-width:20%;
    width: min-content;
    margin: auto;
}
#request-form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}
.request-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem .5rem;
    align-items: center;
    padding: 1rem;
    overflow-x: auto;
}
{% endblock %}
{% block content %}
<div style="margin-bottom: 1rem;"></div>
{% if user.role < 2 %}<span style="padding: 2rem 10px; max-width: 100%;">You are a doctor and want to access your patients documents? <a href="{% url 'request-verify' %}">Request the verification of your status here.</a></span>{% endif %}
<span>{{ error }}</span>
<span>{{ success }}</span>
{% comment %} {% if user.role == 2 %} {% endcomment %}
<h2>Request Access to {% if user.role == 2 %}Patient{% else %}Relative{% endif %} Documents</h2>
<form action="{% url 'request-access' %}" method="post" enctype="multipart/form-data" id="request-form">
    {% csrf_token %}
    <div>
        <label for="patient-tag">Patient</label>
        <select name="patient-tag" required>
            <option name="patient-tag" value="" disabled selected>Select a patient</option>
            {% for tag in tags %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select>
        {% comment %} <input type="" name="patient-tag" placeholder="Patient Tag" required> {% endcomment %}
    </div>
    <div>
        <label for="start-date">Start date</label>
        <input type="date" name="start-date" placeholder="Start Date" required min={{ min_date }} max="{{ today }}" format="dd-mm-yyyy" value="{{ today }}">
    </div>
    <div>
        <label for="end-date">End date</label>
        <input type="date" name="end-date" placeholder="End Date" required min="{{ min_date }}" max="{{ max_date }}" format="dd-mm-yyyy" value="{{ today }}">
    </div>
    <input type="submit" value="Request" style="margin-bottom: 10px;" /><br />
</form>
<h3>Pending Requests (outgoing)</h3>
{% if requests_sent|length > 0 %}
{% for req in requests_sent %}
<div class="card request-row">
    <span style="margin-right: 2rem; font-style: italic;">{{ req.requested_at }}</span>
    <h3 style="margin: 0;">{{ req.patient.tag_line }}</h3>
    {% comment %} <span style="flex-grow: 1; margin: 0 2rem; text-align: start;">{{ doc.description }}</span> {% endcomment %}
    <span style="flex-grow: 1; margin: 0 2rem; text-align: start;">{{ req.period_start }} - {{ req.period_end }}</span>
    {% comment %} <a href="/preview/{{ doc.uid }}" target="_blank"><button>View</button></a>
    <a href="/download/{{ doc.uid }}" style="margin-left: 10px;"><button class="secondary">Download</button></a> {% endcomment %}
    <a href="/request/delete/{{ req.uid }}" style="margin-left: 10px;"><button class="warning">Delete</button></a>
</div>
{% endfor %}
{% else %}
<p style="font-style: italic;">No requests found.</p>
{% endif %}

<h3 style="margin-top: 50px;">Requests for Approval (incoming)</h3>
{% if requests_for_approval|length > 0 %}
{% for req in requests_for_approval %}
<div class="card request-row">
    <span style="margin-right: 2rem; font-style: italic;">{{ req.requested_at }}</span>
    <h3 style="margin: 0;">{{ req.requested_by.tag_line }}</h3>
    <span style="flex-grow: 1; margin: 0 2rem; text-align: start;">{{ req.period_start }} - {{ req.period_end }}</span>
    {% if req.approved or req.denied %}
    <span class="badge badge-{% if req.approved %}approved{% elif req.denied %}denied{% endif %}">{{ req.approved|yesno:"Approved,Denied" }}</span>
    <span style="margin-left: 1rem;">{{ req.approved_or_denied_at }}</span>
    {% else %}
    <a href="/request/{{ req.uid }}/approve" style="margin-left: 2rem;"><button>Approve</button></a>
    <a href="/request/{{ req.uid }}/deny" style="margin-left: 10px;"><button class="warning">Deny</button></a>
    {% endif %}
</div>
{% endfor %}
{% else %}
<p style="font-style: italic;">No requests for approval found.</p>
{% endif %}

{% if requests_processed|length > 0 %}
<h3 style="margin-top: 50px;">History</h3>
{% for req in requests_processed %}
<div class="card request-row">
    <span style="margin-right: 1rem; font-style: italic;">{{ req.requested_at }}</span>
    <span class="badge badge-secondary" style="margin-right: 1rem;">{% if req.patient == user %}incoming{% else %}outgoing{% endif %}</span>
    {% if req.patient == user %}
    <h3 style="margin: 0;">{{ req.requested_by.tag_line }}</h3>
    {% else %}
    <h3 style="margin: 0;">{{ req.patient.tag_line }}</h3>
    {% endif %}
    <span style="flex-grow: 1; margin: 0 2rem; text-align: start;">{{ req.period_start }} - {{ req.period_end }}</span>
    <span class="badge badge-{% if req.approved %}approved{% elif req.denied %}denied{% endif %}">{{ req.approved|yesno:"Approved,Denied" }}</span>
    <span style="margin-left: 1rem;">{{ req.approved_or_denied_at }}</span>
    {% if req.requested_by == user %}
    <a href="/request/delete/{{ req.uid }}" style="margin-left: 2rem;"><button class="warning">Delete</button></a>
    {% endif %}
</div>
{% endfor %}
{% else %}
<p style="font-style: italic;">No processed requests found.</p>
{% endif %}
{% endblock %}